<table border="1">
  <tr>
    <th>Uniqueid</th>
    <th>Barcode</th>
    <th>Assetprofile</th>
    <th>Building</th>
    <th>Floor</th>
    <th>Room</th>
    <th>Department</th>
    <th>System</th>
    <th>Partof</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Serial</th>
    <th>Warrstart</th>
    <th>Warrend</th>
    <th>Instructions</th>
    <th>Components</th>
    <th>Pmschedule</th>
    <th>Partnumber</th>
    <th>Url</th>
    
  </tr>

<% @equipment.each do |equipment| %>
  <tr>
    <td><%= equipment.uniqueid %></td>
    <td><%= equipment.barcode %></td>
    <td><%= equipment.assetprofile %></td>
    <td><%= equipment.building %></td>
    <td><%= equipment.floor %></td>
    <td><%= equipment.room %></td>
    <td><%= equipment.department %></td>
    <td><%= equipment.system %></td>
    <td><%= equipment.partof %></td>
    <td><%= equipment.manufacturer %></td>
    <td><%= equipment.model %></td>
    <td><%= equipment.serial %></td>
    <td><%= equipment.warrstart %></td>
    <td><%= equipment.warrend %></td>
    <td><%= equipment.instructions %></td>
    <td><%= equipment.components %></td>
    <td><%= equipment.pmschedule %></td>
    <td><%= equipment.partnumber %></td>
    <td><%= equipment.url %></td>
  
  </tr>
<% end %>
</table>