<p id="notice"><%= notice %></p>

<p>
  <b>Uniqueid:</b>
  <%= @equipment.uniqueid %>
</p>

<p>
  <b>Barcode:</b>
  <%= @equipment.barcode %>
</p>

<p>
  <b>Assetprofile:</b>
  <%= @equipment.assetprofile %>
</p>

<p>
  <b>Building:</b>
  <%= @equipment.building %>
</p>

<p>
  <b>Floor:</b>
  <%= @equipment.floor %>
</p>

<p>
  <b>Room:</b>
  <%= @equipment.room %>
</p>

<p>
  <b>Department:</b>
  <%= @equipment.department %>
</p>

<p>
  <b>System:</b>
  <%= @equipment.system %>
</p>

<p>
  <b>Partof:</b>
  <%= @equipment.partof %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @equipment.manufacturer %>
</p>

<p>
  <b>Model:</b>
  <%= @equipment.model %>
</p>

<p>
  <b>Serial:</b>
  <%= @equipment.serial %>
</p>

<p>
  <b>Warrstart:</b>
  <%= @equipment.warrstart %>
</p>

<p>
  <b>Warrend:</b>
  <%= @equipment.warrend %>
</p>

<p>
  <b>Instructions:</b>
  <%= @equipment.instructions %>
</p>

<p>
  <b>Components:</b>
  <%= @equipment.components %>
</p>

<p>
  <b>Pmschedule:</b>
  <%= @equipment.pmschedule %>
</p>

<p>
  <b>Partnumber:</b>
  <%= @equipment.partnumber %>
</p>

<p>
  <b>Url:</b>
  <%= @equipment.url %>
</p>


<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
